<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="ac.soton.codin.codegen.contribution"
            objectClass="ac.soton.eventb.emf.components.diagram.edit.parts.ComponentEditPart">
         <menu
               id="ac.soton.codin.codegen.menu"
               label="Code Generation"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="ac.soton.codin.codegen.popup.actions.CodinCGAction"
               enablesFor="1"
               id="ac.soton.codin.codegen.newAction"
               label="Generate VHDL"
               menubarPath="ac.soton.codin.codegen.menu/group">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eventb.codegen.templates.tag">
      <tagCommentCharacters
            tagCommentCharacters="--##">
      </tagCommentCharacters>
   </extension>
   <extension
         point="org.eventb.codegen.templates.generator">
      <templateGenerator
            GeneratorClass="ac.soton.codin.codegen.quickPrint.TopLevelGenerator"
            tag="topLevelGenerator">
      </templateGenerator>
      <templateGenerator
            GeneratorClass="ac.soton.codin.codegen.quickPrint.ClockProcessGenerator"
            tag="clockProcessGenerator">
      </templateGenerator>
   </extension>

</plugin>
