<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="test2.contribution1"
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.mch">
         <menu
               id="test2.menu1"
               label="New Submenu"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="testaccessemf.popup.actions.NewAction"
               enablesFor="1"
               id="test2.newAction"
               label="New Action"
               menubarPath="test2.menu1/group1">
         </action>
      </objectContribution>
   </extension>

</plugin>
