<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="QuickPrint.contribution1">
         <menu
               label="View"
               path="additions"
               id="QuickPrint.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="QuickPrint"
               class="quickprint.popup.actions.QuickPrint"
               menubarPath="QuickPrint.menu1/group1"
               enablesFor="1"
               id="QuickPrint.newAction">
         </action>
      </objectContribution>
   </extension>

</plugin>
