<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="ac.soton.eventb.textout.printable" name="Printable " schema="schema/ac.soton.eventb.textout.printable.exsd"/>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eventb.core.IMachineRoot"
            id="ac.soton.eventb.textOut.contribution1">
         <menu
               label="Text Translations"
               path="additions"
               id="ac.soton.eventb.textOut.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Export Machine to Text"
               class="ac.soton.eventb.textout.popup.actions.ExportMachineToText"
               menubarPath="ac.soton.eventb.textOut.menu1/group1"
               enablesFor="1"
               id="ac.soton.eventb.textOut.newAction">
         </action>
      </objectContribution>
      <objectContribution
            id="ac.soton.eventb.textOut.contribution1"
            objectClass="org.eventb.core.IContextRoot">
         <menu
               id="ac.soton.eventb.textOut.menu1"
               label="Text Translations"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="ac.soton.eventb.textout.popup.actions.ExportMachineToText"
               enablesFor="1"
               id="ac.soton.eventb.textOut.newAction"
               label="Export Context to Text"
               menubarPath="ac.soton.eventb.textOut.menu1/group1">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="ac.soton.eventb.textout.printable">
      <PrintableClass
            PrintableClass="ac.soton.eventb.textout.visitor.machine.PrintableAction">
      </PrintableClass>
      <PrintableClass
            PrintableClass="ac.soton.eventb.textout.visitor.machine.PrintableGuard">
      </PrintableClass>
      <PrintableClass
            PrintableClass="ac.soton.eventb.textout.visitor.machine.PrintableParameter">
      </PrintableClass>
      <PrintableClass
            PrintableClass="ac.soton.eventb.textout.visitor.machine.PrintableVariable">
      </PrintableClass>
      <PrintableClass
            PrintableClass="ac.soton.eventb.textout.visitor.machine.PrintableInvariant">
      </PrintableClass>
      <PrintableClass
            PrintableClass="ac.soton.eventb.textout.visitor.machine.PrintableEvent">
      </PrintableClass>
      <PrintableClass
            PrintableClass="ac.soton.eventb.textout.visitor.machine.PrintableWitness">
      </PrintableClass>
      <PrintableClass
            PrintableClass="ac.soton.eventb.textout.visitor.machine.PrintableMachine">
      </PrintableClass>
   </extension>
   <extension
         point="ac.soton.eventb.textout.printable">
      <PrintableClass
            PrintableClass="ac.soton.eventb.textout.visitor.context.PrintableContext">
      </PrintableClass>
      <PrintableClass
            PrintableClass="ac.soton.eventb.textout.visitor.context.PrintableSet">
      </PrintableClass>
      <PrintableClass
            PrintableClass="ac.soton.eventb.textout.visitor.context.PrintableConstant">
      </PrintableClass>
      <PrintableClass
            PrintableClass="ac.soton.eventb.textout.visitor.context.PrintableAxiom">
      </PrintableClass>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            activeByDefault="true"
            class="ac.soton.eventb.textout.core.HideDefaultResourcesFilter"
            id="ac.soton.eventb.textout.core.hideDefaultResources"
            name="All non Rodin + non-EventBText">
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="fr.systerel.explorer.navigator.view">
         <includes>
            <contentExtension
                  pattern="ac.soton.eventb.textout.core.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="ac.soton.eventb.textout.commands.category"
            name="Rodin To text Category">
      </category>
      <command
            categoryId="ac.soton.eventb.textout.commands.category"
            id="ac.soton.eventb.textout.commands.toText"
            name="Rodin to Text ">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ac.soton.eventb.textout.core.EventBRodinToTextHandler"
            commandId="ac.soton.eventb.textout.commands.toText">
         <activeWhen>
            <or>
               <with
                     variable="activePartId">
                  <equals
                        value="fr.systerel.editor.editors.RodinEditor">
                  </equals>
               </with>
               <with
                     variable="activePartId">
                  <equals
                        value="org.eventb.ui.editors.machine">
                  </equals>
               </with>
               <with
                     variable="activePartId">
                  <equals
                        value="org.eventb.ui.editors.context">
                  </equals>
               </with>
            </or>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="ac.soton.eventb.textout.commands.toText"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+7">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="ac.soton.eventb.textout.toolbars.toTextToolbar">
            <command
                  commandId="ac.soton.eventb.textout.commands.toText"
                  icon="icons/rodinToText.gif"
                  id="ac.soton.eventb.textout.toolbars.toText"
                  tooltip="Save Rodin as Text">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="ac.soton.eventb.textout.menus.sampleMenu"
               label="Rodin to Text Menu"
               mnemonic="M">
            <command
                  commandId="ac.soton.eventb.textout.commands.toText"
                  id="ac.soton.eventb.textout.menus.toText"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
