<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:fr.systerel.explorer.navigator.view">
         <command
               commandId="ac.soton.eventb.emf.inclusion.commands.include"
               icon="icons/flatten.gif"
               label="Flatten Composite Machine"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.emf.ecore.EObject">
                           <instanceof
                                 value="org.eventb.emf.core.machine.Machine">
                           </instanceof>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.rodinp.core.refinements">
      <Participant
            class="ac.soton.eventb.emf.decomposition.navigator.refiner.RegionRefiner"
            id="regionRefiner"
            refinement-id="org.eventb.core.machineRefinement">
      </Participant>
      <Order
            first-participant-id="org.eventb.core.machineRefiner"
            second-participant-id="ac.soton.eventb.emf.decomposition.navigator.regionRefiner">
      </Order>
   </extension>
   <extension
         point="ac.soton.eventb.emf.core.extension.navigator.elementRefinement">
      <refinementDefinition
            refiner_class="ac.soton.eventb.emf.decomposition.navigator.refiner.AbstractRegionElementRefiner"
            ePackage="http://soton.ac.uk/models/eventb/decomposition/2016">
      </refinementDefinition>
   </extension>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            default="true"
            extensions="xmc"
            icon="icons/decomposition_icon.png"
            id="ac.soton.eventb.emf.editors.composition"
            name="Composition Editor">
         <!--contentTypeBinding
               contentTypeId="ch.ethz.eventb.decomposition.core.dcpFile">
         </contentTypeBinding-->
      </editor>
   </extension>
   
  <extension
         point="ac.soton.eventb.emf.core.extension.navigator.emfFileExtensions">
      <model
            extension="xmc">
      </model>
   </extension>
   
</plugin>
