<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:fr.systerel.explorer.navigator.view">
         <command
               commandId="ac.soton.eventb.emf.inclusion.commands.include"
               icon="icons/flatten_icon.png"
               label="Flatten Composite Machine"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.emf.ecore.EObject">
                           <test property="ac.soton.eventb.emf.decomposition.navigator.isCompositeMachine"
                           			forcePluginActivation="true"
                           />
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.rodinp.core.refinements">
      <Participant
            class="ac.soton.eventb.emf.decomposition.navigator.refiner.RegionRefiner"
            id="regionRefiner"
            refinement-id="org.eventb.core.machineRefinement">
      </Participant>
      <Order
            first-participant-id="org.eventb.core.machineRefiner"
            second-participant-id="ac.soton.eventb.emf.decomposition.navigator.regionRefiner">
      </Order>
   </extension>
   <extension
         point="ac.soton.eventb.emf.core.extension.navigator.elementRefinement">
      <refinementDefinition
            refiner_class="ac.soton.eventb.emf.decomposition.navigator.refiner.AbstractRegionElementRefiner"
            ePackage="http://soton.ac.uk/models/eventb/decomposition/2016">
      </refinementDefinition>
   </extension>

   
  <extension
         point="ac.soton.eventb.emf.core.extension.navigator.emfFileExtensions">
      <model
            extension="xmc">
      </model>
   </extension>
   
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eventb.emf.xmb"
            file-extensions="xmc"
            id="ac.soton.eventb.emf.decomposition.compositeMachine"
            name="Event-B Composite Machine"
            priority="normal">
      </content-type>
  </extension>
  
  <extension
        point="org.eclipse.core.expressions.propertyTesters">
       <propertyTester
         namespace="ac.soton.eventb.emf.decomposition.navigator"
       id="ac.soton.eventb.emf.decomposition.navigator.CompositeMachineTester"
       properties="isCompositeMachine"
       type="org.eclipse.emf.ecore.EObject"
       class="ac.soton.eventb.emf.decomposition.navigator.CompositeMachineTester">
    </propertyTester>
  </extension>
   

     
</plugin>
