<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="ac.soton.eventb.textout.printable" name="Printable " schema="schema/ac.soton.eventb.textout.printable.exsd"/>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            default-charset="UTF-8"
            file-extensions="mch, ctx"
            id="eventB_DSLText"
            name="Event-B Text">
      </content-type>
   </extension>

   <extension
         point="ac.soton.eventb.textout.printable">
      <PrintableClass
            PrintableClass="ac.soton.eventb.textout.visitor.machine.PrintableAction">
      </PrintableClass>
      <PrintableClass
            PrintableClass="ac.soton.eventb.textout.visitor.machine.PrintableGuard">
      </PrintableClass>
      <PrintableClass
            PrintableClass="ac.soton.eventb.textout.visitor.machine.PrintableParameter">
      </PrintableClass>
      <PrintableClass
            PrintableClass="ac.soton.eventb.textout.visitor.machine.PrintableVariable">
      </PrintableClass>
      <PrintableClass
            PrintableClass="ac.soton.eventb.textout.visitor.machine.PrintableInvariant">
      </PrintableClass>
      <PrintableClass
            PrintableClass="ac.soton.eventb.textout.visitor.machine.PrintableEvent">
      </PrintableClass>
      <PrintableClass
            PrintableClass="ac.soton.eventb.textout.visitor.machine.PrintableWitness">
      </PrintableClass>
      <PrintableClass
            PrintableClass="ac.soton.eventb.textout.visitor.machine.PrintableMachine">
      </PrintableClass>
      <PrintableClass
            PrintableClass="ac.soton.eventb.textout.visitor.context.PrintableContext">
      </PrintableClass>
      <PrintableClass
            PrintableClass="ac.soton.eventb.textout.visitor.context.PrintableSet">
      </PrintableClass>
      <PrintableClass
            PrintableClass="ac.soton.eventb.textout.visitor.context.PrintableConstant">
      </PrintableClass>
      <PrintableClass
            PrintableClass="ac.soton.eventb.textout.visitor.context.PrintableAxiom">
      </PrintableClass>
      <PrintableClass
            PrintableClass="ac.soton.eventb.textout.visitor.statemachine.PrintableStatemachine">
      </PrintableClass>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            activeByDefault="true"
            class="ac.soton.eventb.textout.HideDefaultResourcesFilter"
            id="ac.soton.eventb.textout.core.hideDefaultResources"
            name="All non Rodin + non-EventBText">
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="fr.systerel.explorer.navigator.view">
         <includes>
            <contentExtension
                  pattern="ac.soton.eventb.textout.core.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="ac.soton.eventb.textOut.contribution1"
            objectClass="org.eventb.core.IMachineRoot">
         <menu
               id="ac.soton.eventb.textOut.menu1"
               label="Text Translations"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="ac.soton.eventb.textout.popup.actions.ExportMachineToText"
               enablesFor="1"
               id="ac.soton.eventb.textOut.newAction"
               label="Export Machine to Text"
               menubarPath="ac.soton.eventb.textOut.menu1/group1">
         </action>
      </objectContribution>
      <objectContribution
            id="ac.soton.eventb.textOut.contribution1"
            objectClass="org.eventb.core.IContextRoot">
         <menu
               id="ac.soton.eventb.textOut.menu1"
               label="Text Translations"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="ac.soton.eventb.textout.popup.actions.ExportMachineToText"
               enablesFor="1"
               id="ac.soton.eventb.textOut.newAction"
               label="Export Context to Text"
               menubarPath="ac.soton.eventb.textOut.menu1/group1">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="ac.soton.eventb.textout.commands.category"
            name="Rodin To text Category">
      </category>
      <command
            categoryId="ac.soton.eventb.textout.commands.category"
            id="ac.soton.eventb.textout.commands.toText"
            name="Rodin to Text ">
      </command>
      <command
            categoryId="ac.soton.eventb.textout.commands.category"
            defaultHandler="ac.soton.eventb.textout.handlers.EventBRodinProjectToTextHandler"
            id="ac.soton.eventb.textout.commands.projectToText"
            name="Rodin Project to Text ">
      </command>
      <command
            categoryId="ac.soton.eventb.textout.commands.category"
            id="ac.soton.eventb.textout.commands.toRodin"
            name="EventB Text: To Rodin">
      </command>
      <command
            categoryId="ac.soton.eventb.textout.commands.category"
            defaultHandler="ac.soton.eventb.textout.handlers.EventBRodinProjectFromTextHandler"
            id="ac.soton.eventb.textout.commands.projectFromText"
            name="Rodin Project From Text ">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ac.soton.eventb.textout.handlers.EventBRodinToTextHandler"
            commandId="ac.soton.eventb.textout.commands.toText">
         <activeWhen>
            <or>
               <with
                     variable="activePartId">
                  <equals
                        value="fr.systerel.editor.editors.RodinEditor">
                  </equals>
               </with>
               <with
                     variable="activePartId">
                  <equals
                        value="org.eventb.ui.editors.machine">
                  </equals>
               </with>
               <with
                     variable="activePartId">
                  <equals
                        value="org.eventb.ui.editors.context">
                  </equals>
               </with>
            </or>
         </activeWhen>
      </handler>
      <handler
            class="ac.soton.eventb.textout.handlers.EventBTextToRodinHandler"
            commandId="ac.soton.eventb.textout.commands.toRodin">
         <activeWhen>
            <or>
               <with
                     variable="activePartId">
                  <equals
                        value="ac.soton.xtext.MachineDsl">
                  </equals>
               </with>
               <with
                     variable="activePartId">
                  <equals
                        value="ac.soton.xtext.ContextDsl">
                  </equals>
               </with>
            </or>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="ac.soton.eventb.textout.commands.toText"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+7">
      </key>
      <key
            commandId="ac.soton.eventb.textout.commands.toRodin"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="ac.soton.eventb.textout.toolbars.toTextToolbar">
            <command
                  commandId="ac.soton.eventb.textout.commands.toText"
                  icon="icons/rodinToText.gif"
                  id="ac.soton.eventb.textout.toolbars.toText"
                  tooltip="Save Rodin as Text">
            </command>
         </toolbar>
         <toolbar
               id="ac.soton.eventb.textout.toolbars.toRodinToolbar">
            <command
                  commandId="ac.soton.eventb.textout.commands.toRodin"
                  icon="icons/textToRodin.gif"
                  id="ac.soton.eventb.textout.toolbars.toRodin"
                  tooltip="Save as Rodin Model">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="ac.soton.eventb.textout.menus.sampleMenu"
               label="Rodin to Text Menu"
               mnemonic="M">
            <command
                  commandId="ac.soton.eventb.textout.commands.toText"
                  icon="icons/rodinToText.gif"
                  id="ac.soton.eventb.textout.menus.toText"
                  mnemonic="S">
            </command>
         </menu>
         <menu
               id="ac.soton.eventb.textout.menus.sampleMenu"
               label="EventB Text Menu"
               mnemonic="M">
            <command
                  commandId="ac.soton.eventb.textout.commands.toRodin"
                  icon="icons/textToRodin.gif"
                  id="ac.soton.eventb.textout.menus.toRodin"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:fr.systerel.explorer.navigator.view">
         <menu
               icon="icons/rodinToText.gif"
               id="ac.soton.eventb.xtext.menu"
               label="iUML-B/Event-B XText Facility"
               tooltip="Facilities for converting iUML-B/Event-B models to and from Text format">
            <command
                  commandId="ac.soton.eventb.textout.commands.projectToText"
                  icon="icons/rodinToText.gif"
                  label="Export Rodin Project to Text "
                  style="push"
                  tooltip="Generate a text version of all Event-B components in the Project">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <or>
                           <instanceof
                                 value="org.eclipse.core.resources.IProject">
                           </instanceof>
                        </or>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="ac.soton.eventb.textout.commands.projectFromText"
                  icon="icons/textToRodin.gif"
                  label="Import Rodin Project From Text "
                  style="push"
                  tooltip="(Re-)Generate all Event-B components in the Project from text files (in the same project)">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <or>
                           <instanceof
                                 value="org.eclipse.core.resources.IProject">
                           </instanceof>
                        </or>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
</plugin>
