<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="ac.soton.eventb.emf.diagrams.iUMLB"
            description="Translate SCXML to iUML-B/Event-B"
            id="ac.soton.utils.SCXML2iUMLB"
            name="Translate SCXML to iUML-B">
      </command>
   </extension>
   
<extension
      name="EventB Diagrams"
      point="org.eclipse.ui.menus">
  <menuContribution
        allPopups="true"
        locationURI="toolbar:ac.soton.eventb.emf.diagrams.toolbar?after=transformations">
     <command
           commandId="ac.soton.utils.SCXML2iUMLB"
           icon="icons/scxml2iumlb.png"
           label="scxml2iumlb"
           style="push">
     </command>
  </menuContribution>
  <!--menuContribution			DOES NOT WORK
        allPopups="false"
        locationURI="popup">
     <command
           commandId="ac.soton.eventb.emf.diagrams.importexport.import2iUMLB"
           icon="icons/import.png"
           label="Import SCXML to iUML-B"
           style="push">
     </command>
  </menuContribution-->

</extension>

   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ac.soton.emf.translator.handler.TranslateHandler"
            commandId="ac.soton.utils.SCXML2iUMLB">
      </handler>
   </extension>
   
   
   <extension
         point="ac.soton.emf.translator.rule">
      <translator
            adapter_class="ac.soton.iumlb.scxml.importer.EventBImportAdapter"
            commandID="ac.soton.utils.SCXML2iUMLB"
            name="SCXML Importer"
            root_source_class="DocumentRoot"
            sourcePackage="http://www.w3.org/2005/07/scxml"
            translatorID="ac.soton.iumlb.scxml.importer">
         <rule
               name="ScxmlScxmlTypeRule"
               rule_class="ac.soton.iumlb.scxml.importer.rules.ScxmlScxmlTypeRule"
               source_class="ScxmlScxmlType">
         </rule>
         <rule
               name="ScxmlDataTypeRule"
               rule_class="ac.soton.iumlb.scxml.importer.rules.ScxmlDataTypeRule"
               source_class="ScxmlDataType">
         </rule>
         <rule
               name="ScxmlStateType2StateRule"
               rule_class="ac.soton.iumlb.scxml.importer.rules.ScxmlStateType2StateRule"
               source_class="ScxmlStateType">
         </rule>
         <rule
               name="ScxmlStateType2StatemachineRule"
               rule_class="ac.soton.iumlb.scxml.importer.rules.ScxmlStateType2StatemachineRule"
               source_class="ScxmlStateType">
         </rule>
         <rule
               name="ScxmlTransitionTypeRule"
               rule_class="ac.soton.iumlb.scxml.importer.rules.ScxmlTransitionTypeRule"
               source_class="ScxmlTransitionType">
         </rule>
         <rule
               name="ScxmlOnentryTypeRule"
               rule_class="ac.soton.iumlb.scxml.importer.rules.ScxmlOnentryTypeRule"
               source_class="ScxmlOnentryType">
         </rule>
         <rule
               name="ScxmlOnexitTypeRule"
               rule_class="ac.soton.iumlb.scxml.importer.rules.ScxmlOnexitTypeRule"
               source_class="ScxmlOnexitType">
         </rule>
         <rule
               name="ScxmlInitialAttributeRule"
               rule_class="ac.soton.iumlb.scxml.importer.rules.ScxmlInitialAttributeRule"
               source_class="ScxmlScxmlType">
         </rule>
         <rule
               name="ScxmlFinalTypeRule"
               rule_class="ac.soton.iumlb.scxml.importer.rules.ScxmlFinalTypeRule"
               source_class="ScxmlFinalType">
         </rule>
      </translator>
   </extension>

</plugin>
