<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="ac.soton.eventb.emf.diagrams.translator"
         point="ac.soton.eventb.emf.diagrams.importExport.rule">
      <translator
            adapter_class="ac.soton.eventb.emf.diagrams.importExport.EventBImportAdapter"
            translatorID="ac.soton.iumlb.scxml.importer"
            name="SCXML Importer"
            root_source_class="DocumentRoot"
            sourcePackage="http://www.w3.org/2005/07/scxml">
         <rule
               name="ScxmlScxmlTypeRule"
               rule_class="ac.soton.iumlb.scxml.importer.rules.ScxmlScxmlTypeRule"
               source_class="ScxmlScxmlType">
         </rule>
         <rule
               name="ScxmlDataTypeRule"
               rule_class="ac.soton.iumlb.scxml.importer.rules.ScxmlDataTypeRule"
               source_class="ScxmlDataType">
         </rule>
         <rule
               name="ScxmlStateTypeRule"
               rule_class="ac.soton.iumlb.scxml.importer.rules.ScxmlStateTypeRule"
               source_class="ScxmlStateType">
         </rule>
         <rule
               name="ScxmlTransitionTypeRule"
               rule_class="ac.soton.iumlb.scxml.importer.rules.ScxmlTransitionTypeRule"
               source_class="ScxmlTransitionType">
         </rule>
         <rule
               name="ScxmlOnentryTypeRule"
               rule_class="ac.soton.iumlb.scxml.importer.rules.ScxmlOnentryTypeRule"
               source_class="ScxmlOnentryType">
         </rule>
         <rule
               name="ScxmlOnexitTypeRule"
               rule_class="ac.soton.iumlb.scxml.importer.rules.ScxmlOnexitTypeRule"
               source_class="ScxmlOnexitType">
         </rule>
         <rule
               name="ScxmlInitialAttributeRule"
               rule_class="ac.soton.iumlb.scxml.importer.rules.ScxmlInitialAttributeRule"
               source_class="ScxmlScxmlType">
         </rule>
         <rule
               name="ScxmlInitialTypeRule"
               rule_class="ac.soton.iumlb.scxml.importer.rules.ScxmlInitialTypeRule"
               source_class="ScxmlInitialType">
         </rule>
         <rule
               name="ScxmlFinalTypeRule"
               rule_class="ac.soton.iumlb.scxml.importer.rules.ScxmlFinalTypeRule"
               source_class="ScxmlFinalType">
         </rule>
      </translator>
   </extension>

</plugin>
